---
import { type Product } from "@constants/product";
import { formatCurrency } from "@hooks/formatCurrency";

interface Props {
  product: Product
}

const { product }     = Astro.props;
const transition_name = product.slug;
---

<a href={`/producto/${product.slug}`} class="block">
  <article class="group flex flex-col shadow-xl rounded-lg overflow-hidden
      transition-all bg-chalet-green-500 p-2 justify-center hover:scale-105 hover:shadow-xl hover:bg-chalet-green-600">
    <div class="overflow-hidden p-1">
      <img
        src={product.cover}
        alt={product.name}
        transition:name={`${transition_name} image`}
        class="object-cover object-center w-full grayscale-[0.1] group-hover:grayscale-0 h-full rounded-md"
      />
    </div>
    <div class="bg-chalet-green-200 p-4 rounded-xl">
      <h3
        class="font-bold text-pretty text-chalet-green-700"
        transition:name={`${transition_name} title`}
      >
        {product.title}
      </h3>
      <p
        class="text-gray-600 text-sm truncate"
        transition:name={`${transition_name} description`}
      >
        {product.name}
      </p>
      <div class="text-right mt-4" transition:name={`${transition_name} price`}>
        <span class="font-bold text-chalet-green-900">{formatCurrency(product.price)}</span>
      </div>
    </div>
  </article>
</a>