---
import type { Address } from "@constants/address";
import { enterprice } from "@constants/enterprice";

interface Props {
  address: Address;
}

const { address } = Astro.props;
---
<div class="mt-16 lg:mt-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="rounded-lg overflow-hidden">
      <iframe
        src={`${address.google_map?.url}`}
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      />
    </div>
    <div>
      <div class="max-w-full mx-auto rounded-lg overflow-hidden">
        <div class="px-6 py-4">
          <h3 class="text-lg font-medium text-gray-900">
            Our Address
          </h3>
          <p class="mt-1 text-gray-600">
            {address.name} - #{address.number},{" "}
            {address.city}
          </p>
        </div>
        <div class="border-t border-gray-200 px-6 py-4">
          <h3 class="text-lg font-medium text-gray-900">
            Hours
          </h3>
          {
            address.schedule_week && (
            <p class="mt-1 text-gray-600">
            {address.schedule_week}: {address.schedule_week_open} - {address.schedule_week_close}
          </p>
            )
          }
          {
            address.schedule_weekend && (
            <p class="mt-1 text-gray-600">
            {address.schedule_weekend}: {address.schedule_saturday_open} - {address.schedule_saturday_closed}
          </p>
            )
          }
          <p class="mt-1 text-gray-600">Domingos: {address.schedule_sunday}</p>
        </div>
        <div class="border-t border-gray-200 px-6 py-4">
          <h3 class="text-lg font-medium text-gray-900">
            Contact
          </h3>
          <p class="mt-1 text-gray-600">
            Correo: {enterprice.mail}
          </p>
          <p class="mt-1 text-gray-600">
            Teléfono: {enterprice.phone}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>