---
import Layout from "@layout/Layout.astro";
import { type Product, products } from "@constants/product";
import ProductContainer from "@container/ProductContainer.astro";
const { slug } = Astro.params;

export function getStaticPaths() {
  return [
    ...products.map((product) => ({
      params: {
        slug: product.slug,
      },
    })),
  ];
}

const product = products.find((product) => product.slug === slug) as Product;
---

<Layout title="Albania Chile - Tienda de ropa reciclada y reutilizada.">
  <div class="max-w-4xl mx-auto mt-20">
    <div class="flex flex-col md:flex-row sm sm:gap-8">
      <div class="max-w-[450px] w-full h-full max-h-[450px]">
        <img
          src={product.cover}
          alt={product.name}
          class="w-full h-full object-cover rounded-xl shadow-2xl shadow-gray-200 border-b"
          transition:name={`${slug} image`}
        />
      </div>
      <article class="py-4 flex justify-between flex-col">
        <div>
          <h1 class="text-3xl sm:text-5xl font-bold animate-in">
            {product.name}
          </h1>
          <div transition:name={`${slug} title`}></div>
          <p
            class="max-w-sm py-4 text-lg"
            transition:name={`${slug} description`}
          >
            {product.description}
          </p>
        </div>
        <div class="pt-2 sm:pt-8 text-right">
          <div class="text-4xl font-semibold" transition:name={`${slug} price`}>
            ${product.price}
          </div>
          <div class="text-xs text-gray-500">* This is a fictional price</div>
          <button
            type="button"
            class="mt-4 px-5 py-2 bg-gray-900 hover:bg-gray-800 text-white font-semibold rounded-full"
            >Add to cart</button
          >
        </div>
      </article>
    </div>
    <div class="py-6 md:py-20">
      Step into a neon-lit realm where fashion meets the digital frontier. Our
      boutique is a portal to tomorrow's style, where code and couture collide.
      Unleash your inner tech fashionista with attire that bridges the gap
      between reality and the virtual cosmos.
    </div>
    <h4 class="font-bold text-lg pb-6">You might also like</h4>
    <div class="flex flex-wrap justify-center sm:justify-normal gap-4">
      {
        products
          .filter((p) => p.category === product.category && p.id !== product.id)
          .map((pr) => <ProductContainer product={pr} />)
      }
    </div>
  </div>
</Layout>
